* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Verdana, Tahoma, sans-serif;
}

.fill-height {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.img-sized {
  width: 100%;
  margin-bottom: 20px;
}

.texto-inicio {
  padding: 20px 36px;
}
.texto-inicio p {
  font-size: 18px;
  gap: 13px;
  line-height: 1.7em;
}

.header-main {
  width: 25px;
  padding: 25px 0px;
  margin-top: 0 auto;
  background: rgb(75, 160, 202);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.imagen {
  top: 98px;
  margin-right: 15px;
}

.imagen:hover {
  transform: translateX(-10px);
  transition: all 1s;
}

.navbar-custom {
  background-color: lightblue;
  border-bottom: solid lightseagreen;
}
.navbar-custom .nav-link {
  color: rgb(3, 36, 53);
  font-weight: bold;
  font-size: large;
}

h1 {
  margin-top: 0px auto;
  display: flex;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
  padding: 15px;
  text-decoration: underline;
  background-color: lightblue;
  border: 5px solid lightblue;
  border-radius: 15px 0 15px 0;
  box-sizing: border-box;
}

h2 {
  padding-top: 20px;
  text-decoration: underline;
}

p {
  padding-left: 20px;
  font-size: 150%;
}

.fondo-historia {
  width: 100%;
  height: 100vh;
  top: 50%;
  position: relative;
  background-size: 100% 100%;
  background-image: radial-gradient(circle at 19.58% 93.44%, #ffffff 0, #c8def4 50%, #6c99c2 100%);
  padding: 20px;
}
.fondo-historia .histo {
  width: 90%;
  margin: 30px auto;
  color: black;
  background-color: rgb(226, 214, 147);
  padding: 20px 30px;
  font-family: sans-serif;
  border: 2px solid black;
  border-radius: 13px;
  font-size: 14px;
  letter-spacing: 0.2rem;
}
.fondo-historia .histo h3 {
  text-decoration: underline;
  padding: 10px;
  margin: 10px 0;
  font-size: 30px;
  text-align: center;
}
.fondo-historia .histo h3 .histo-texto {
  padding-top: 25px;
}

.contenedor {
  background-image: radial-gradient(circle at 19.58% 93.44%, #ffffff 0, #d6e2ee 50%, #6c99c2 100%);
}

.linea-tiempo {
  position: relative;
  left: 35%;
  width: 500px;
  max-width: 95vw;
  height: 100%;
  font-family: sans-serif;
}
.linea-tiempo::before {
  content: "";
  position: absolute;
  width: 3px;
  background-color: rgb(14, 13, 13);
  left: 50%;
  height: 100%;
  border-radius: 10px;
}
.linea-tiempo .momento {
  position: relative;
  width: 45%;
  box-sizing: border-box;
  padding: 6px;
}
.linea-tiempo .momento .descripcion {
  border: 2px solid rgb(32, 30, 30);
  background-color: rgb(174, 243, 208);
  border-radius: 6px;
  padding: 5px;
  box-sizing: border-box;
}
.linea-tiempo .momento::after {
  content: "";
  position: absolute;
  top: calc(50% + 10px);
  right: calc(-11.11% - 11.5px);
  height: 20px;
  width: 20px;
  background-color: rgb(14, 13, 13);
  border-radius: 50%;
}
.linea-tiempo .momento:nth-child(even) {
  left: 55%;
}
.linea-tiempo .momento:nth-child(even)::after {
  left: calc(-11.11% - 8.5px);
}

.teorias {
  height: 100%;
  padding: 20px 30px;
  background-size: 400% 400%;
  background: linear-gradient(40deg, rgb(29, 25, 25), rgb(71, 163, 163));
  text-align: center;
}
.teorias a {
  text-decoration: none;
}
.teorias div {
  margin-left: 20px;
  background-color: lightblue;
  cursor: pointer;
  border: #FFF solid 10px;
  display: inline-block;
  box-shadow: 5px 5px 5px rgb(39, 39, 39);
  border-radius: 10px;
  z-index: -1;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
.teorias div span {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 250px;
  color: #000;
  font-weight: bolder;
  font-size: 20px;
  transition: transform 1s;
}
.teorias .teo-texto {
  color: aliceblue;
  padding-top: 25px;
}

span:hover {
  transform: translateY(40px);
}

.body-ramas {
  display: flex;
}

.divis-ram {
  text-align: center;
}

.animate__animated {
  padding: 15px;
  border: 5px solid rgb(29, 175, 151);
  text-align: center;
  animation-delay: 2.64s;
}
.animate__animated .nombre-ram {
  color: #000;
  font-family: "Segoe UI";
}

.nav-ramas {
  padding: 30px 0px;
  margin-top: 40px;
  background-color: rgb(224, 224, 224);
}

.ramas .nav-item {
  text-align: center;
  width: 50%;
  margin-bottom: 25px;
  cursor: pointer;
}
.ramas .nav-links {
  color: #000;
  text-decoration: none;
}
.ramas .nav-links:hover {
  text-decoration: underline;
  color: rgb(0, 60, 255);
}

.otras-areas {
  text-align: justify;
  padding: 20px 36px;
}
.otras-areas p {
  font-size: 18px;
  gap: 13px;
  line-height: 1.7em;
}

.carrusel {
  position: relative;
  width: 50%;
  left: 24%;
  border: 9px solid rgb(211, 208, 208);
  box-shadow: 5px 5px 5px 5px rgb(39, 39, 39);
}

.card-text {
  font-size: 17px;
  padding: 0px;
}

@media (max-width: 767px) {
  .menu .nav-item {
    width: 100%;
  }
  .fondo-historia {
    padding: 20px 10px;
  }
  .fondo-historia .histo {
    width: 100%;
    font-size: 12px;
  }
  .fondo-historia .histo p {
    max-height: 600px;
    overflow-y: scroll;
  }
  .teorias div {
    width: 45%;
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */