* {
    margin: 0;
    padding: 0;
}

$colorHeader: rgb(75, 160, 202);
$fondo: lightblue;
$fontSize: large;
$colorHover: #000;
$bghover: beige;
$colorLink: ghostwhite;
$borderBox: 1px solid #000;
//$mobile: 576px;
//$destok:1200px;
$breakpoints: (
    sm: 540px,
    md:768px,
    lg: 1024px
);

@mixin media-up ($breakpoints) {
    @media screen and (min-width:map-get($breakpoints, $breakpoints)) {
        @content;
    }
}

html,
body {
    height: 100%;
    font-family: Verdana, Tahoma, sans-serif;
}

.fill-height {
    min-height: 100%;
    height:auto !important; 
    height: 100%; 
}

//------------------
// Index
//------------------
.img-sized {
    width: 100%;
    margin-bottom: 20px;
}

.texto-inicio {
    
    padding: 20px 36px;

    p {
        font-size: 18px;
        gap: 13px;
        line-height: 1.7em;
    }
}

.header-main {
    //animarlo ver
    width: 25px;
    padding: 25px 0px;
    margin-top: 0 auto;
    background: $colorHeader;
}

//---------

.imagen {
    top: 98px;
    margin-right: 15px;

}

.imagen:hover {
    transform: translateX(-10px);
    transition: all 1s;
}

.navbar-custom {
    background-color: $fondo;
    border-bottom: solid lightseagreen;

    .nav-link {
        color: rgb(3, 36, 53);
        font-weight: bold;
        font-size: $fontSize;
    }
}


h1 {
    margin-top: 0px auto;
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    padding: 15px;
    text-decoration: underline;
    background-color: $fondo;
    border: 5px solid $fondo;
    border-radius: 15px 0 15px 0;
    box-sizing: border-box;
}


h2 {
    padding-top: 20px;
    text-decoration: underline;
}

p {
    padding-left: 20px;
    font-size: 150%;
}

//------------------
// Historia
//------------------
.fondo-historia {
    width: 100%;
    height: 100vh;
    top: 50%;
    position: relative;
    background-size: 400% 400%;
    background: linear-gradient(55deg, rgb(17, 16, 16), rgb(134, 89, 177), rgb(35, 35, 146));
    padding: 20px;

    .histo {
        width: 90%;
        margin: 0 auto;
        color: black;
        background-color: rgb(226, 214, 147);
        padding: 20px 30px;
        font-family: sans-serif;
        border-radius: 13px;
        font-size: 14px;
    
        h3 {
            text-decoration: underline;
    
            .histo-texto {
                padding-top: 25px
            }
    
        }
    
    }
}


//------------------
// Teorias
//------------------
.teorias {
    height: 100%;
    padding: 20px 30px;
    background-size: 400% 400%;
    background: linear-gradient(40deg, rgb(29, 25, 25), rgb(71, 163, 163));
    text-align: center;

    a {
        text-decoration: none;
    }

    div {
        margin-left: 20px;
        background-color: $fondo;
        cursor: pointer;
        border: #FFF solid 10px;
        display: inline-block;
        box-shadow: 5px 5px 5px rgb(39, 39, 39);

        border-radius: 10px;
        z-index: -1;
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    
        span {
            display: block;
            text-align: center;
            width: 100%;
            line-height: 250px;
            color: #000;
            font-weight: bolder;
            font-size: 20px;
            transition: transform 1s;
        }
    }

    .teo-texto {
        color: aliceblue;
        padding-top: 25px;
    }
}

span:hover {
    transform: translateY(40px);
}

.body-ramas {
    display: flex;
}

.divis-ram {
    text-align: center;
}

.img-ramas {
    padding: 15px;
    border: 3px solid rgb(28, 102, 14);

    .nombre-ram {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        visibility: hidden;

    }
}

.nav-ramas {
    padding: 30px 0px;
    margin-top: 40px;
    background-color: rgb(224, 224, 224);
}

.img-ramas {
    text-align: center;
}

.ramas {

    .nav-item {
        text-align: center;
        width: 50%;
        margin-bottom: 25px;
        cursor: pointer;
    }

    .nav-links {
    
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        
            img {
                opacity: 0.6;

            }
        }

        .nombre-ram {
            color: #000;
            padding: 0;
            margin: 0;
        }
    }

    
}

.otras-areas {
    
    text-align: justify;
    padding: 20px 36px;

    p {
        font-size: 18px;
        gap: 13px;
        line-height: 1.7em;
    }
}


//Cards
.card-text {
    font-size: 17px;
    padding: 0px;
}


@media (max-width: 767px) {

    .menu .nav-item {
        width: 100%;
    }

    .fondo-historia {
         padding: 20px 10px;
    
        .histo {
            width: 100%;
            font-size: 12px;

            p {
                max-height: 600px;
                overflow-y: scroll;
            }
        }
    }

    .teorias {
        
        div {
            width: 45%;
            margin-left: 10px;
        }
    }
}